.redBack {
  background-color: red !important;
}

.yellowBack {
  background-color: yellow !important;
}

.greenBack {
  background-color: green !important;
}

.blackBack {
  background-color: black !important;
}

.redFront {
  color: red !important;
}

.yellowFront {
  color: yellow !important;
}

.greenFront {
  color: green !important;
}

.blackFront {
  color: black !important;
}

.levelStyle {
  display: "grid";
  grid-auto-flow: "column";
  overflow: "auto";
}

.xlarge {
  height: 200;
  width: 200;
}

.medium {
  height: 50;
  width: 50;
}

.small {
  height: 40;
  width: 40;
}

.strobe {
  animation: "strobe 1.5s infinite ease-in-out";
  animation-name: strobe;
}

@keyframes strobe {
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
  }
  87.5% {
    opacity: 1;
  }
}

.badge {
  color: yellow;
  background-color: black;
  box-shadow: "0 0 0 2px";
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  border-radius: "50%";
  animation: "ripple 1.2s infinite ease-in-out";
  animation-name: "ripple";
  border: "1px solid currentColor";
}

@keyframes ripple {
  0% {
    transform: "scale(.8)";
    opacity: 1;
  }
  100% {
    transform: "scale(2.4)";
    opacity: 0;
  }
}
